<%= javascript 'ruby_gems' %>
<%= render :partial => 'ruby_gems/ruby_gems', :locals => {:ruby_gems => [@ruby_gem]}%>

<h2>Tutorials</h2>
<%= render :partial => "tutorials/tutorials", :locals => {:tutorials => @ruby_gem.tutorials}%>
