body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin:0px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 0px;
  margin-top: 0px;
}

/* Header */
#header {
  width:100%;
  background:#2c89a0;
  background: -moz-linear-gradient(top,  #2c89a0 ,#3d9AB1 ,#2c89a0);
  background: -webkit-linear-gradient(top,  #2c89a0 ,#3d9AB1 ,#2c89a0);
  height:40px;
  padding: 1px 0;
}
#header ul li{
  display:inline;
  margin-left:10px;
}
#header ul li a{
  text-decoration:none;
  color:#fff;
  padding:5px 20px 10px 20px;
}
#header ul li a:hover{background:#fff;color:#2c89a0;}
#header #session_info {
  position:absolute;
  right: 40px;
  top: 1px;
}

/* Content */

#content{
  padding:20px;
}
#tutorial_wrapper div#tutorial{
  padding:10px;
  margin: 10px;
  width:350px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #FFF;
  float:left;
}
#tutorial_wrapper div#tutorial:hover{
  background: -moz-linear-gradient(top,  #efefef ,#FFFFFF ,#efefef);
  background: -webkit-linear-gradient(top,  #efefef ,#FFFFFF ,#efefef);
  border: 1px solid #666;
  color:#0A8780;
}

/* Footer */
#footer {
  background:#333;
  padding:10px 20px;
  color:#fff;
  text-align:center;
  background: -moz-linear-gradient(bottom,  #222 50%, #555);
  background: -webkit-gradient(linear, left bottom, left top, from(#222), to(#555));
}

/* Notices*/

#flash_notice, #flash_error, #flash_alert {
  width:500px;
  padding: 10px;
  display:block;
  margin:auto;
  margin-top:-20px;
}

#flash_notice {
  background-color: #CFC;
}

#flash_error, #flash_alert {
  background-color: #FCC;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
