body {
  font-family:'Helvetica Neue';
  font-size: 14px;
  margin:0px;
  background: #333;
}


#container
{
	margin: 0 0;
	width: 100%;
	background: #fff;
}

#header
{
	background: #333;
	padding: 20px;
}

#header h1 { 
  position:absolute;
  top:56px;
  font-size:1.3em;
  left:300px;
  font-family:sans-serif;
  font-weight:normal;
  color:#ddd;
}

#navigation
{
	float: left;
	width: 100%;
  background:#f60;
  background: -moz-linear-gradient(top, #e50 0%, #f60 20%, #e50 50%);
  background: -webkit-linear-gradient(top, #e50 0%, #f60 20%, #e50 50%);
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation ul#session_links{
  float:right;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a.current, #navigation li a:hover { 
  background: #333; 
  background: -moz-linear-gradient(top,#333 50%,#222); 
  background: -webkit-linear-gradient(top,#333 50%,#222); 

}
.admin_links{
  padding-top:20px;
  float:right;
}
.admin_links a:hover{background:#333;color:#fff;}
.admin_links a{
  padding:10px;
  border-radius:5px;
  text-decoration:none;
  color:#1F6672;
}
#content-container
{
	width: 100%;
  margin:auto auto;
}


#content
{
  background:#fff;
	padding: 40px 20px;
  margin:auto auto;
}

#content h2 { 
  margin: 0; 
  font-size:2em;
}
#left{
  width:70%;
  height:100%;
}
#tutorial {
  position:relative;
  width:90%;
  height:140px;
  margin:5px 10px;
  padding:10px;
  border-radius:0px;
  border:1px solid #FFF;
  -moz-box-shadow:0px 4px 4px #999;
  -webkit-box-shadow:0px 4px 4px #999;
  border-radius:10px;
}

#tutorial:hover {
background:#fff url(/images/wave.png) bottom left no-repeat;
  border:1px solid #999;
  -moz-box-shadow:2px 0px 2px #333;
  -webkit-box-shadow:2px 0px 2px #333;
}
#tutorial a{
  text-decoration:none;
  color:#333;
}
#tutorial ul{
  position:absolute;
  right:10px;
  bottom:5px;
  display:block;

}
#tutorial ul li{
  display:inline;
  margin:0px 5px 15px 5px;
  border-radius:5px;
  background:#f60;
  padding:5px;
  color:#fff;
}

#aside
{
	float: right;
	width: 26%;
	padding: 20px 10px;
	display: inline;
}

#aside h3 { margin: 0; }

#footer
{
  color:white;
	clear: left;
	background: #333;
	text-align: center;
	padding:1px;
	height: 1%;
}

