<% users.each do |user|%>
  <div class='general_info_alt'>
    <p class='pull-right'><%= user.email %></p>
    <h1>
      <%= link_to user do %>
        <%= image_tag user.image, width: 25 %>
        <%= user.name.titleize %>
      <% end %>
    </h1>
    <div class='clear'></div>
  </div>
<%end%>
