<div class='general_info_alt'>
  <p class='pull-right'><%= @user.email %></p>
	<h1><%= @user.name.titleize %></h1>
  <div class='clear'></div>
</div>

<h2>Tutorials</h2>
<%= render :partial => "tutorials/tutorials", :locals => {:tutorials => @user.tutorials}%>
