<div id='gem'>
	<h1><%= @user.name.capitalize %></h1>
  <h3><%= @user.email %></h3>
  <div class='clear'></div>
</div>

<h2>Tutorials</h2>
<%= render :partial => "tutorials/tutorials", :locals => {:tutorials => @user.tutorials}%>
