
<div style="display:none"><div id="data">
<div id='formatting_guide'>
<h2>Markdown styling guide</h2>

  <table>
    <tr>
      <th>To obtain this...</th>
      <th>Write this...</th>
      </tr>
    <tr>
      <td><h1>Big title</h1></td>
      <td># Big title</td>
    </tr>
    <tr>
      <td><h2>Normal title</h2></td>
      <td>## Normal title</td>
    </tr>
    <tr>
      <td><li>Bullet 1</li><li>Bullet 2</li></td>
      <td> * Bullet 1<br /> * Bullet 2</td>
    </tr>
    <tr>
      <td> 1. First element<br /> 2. Second element</td>
      <td> 1. First element<br /> 2. Second element</td>
    </tr>
    <tr>
      <td><a>Nerdgem</a></td>
      <td>[Nerdgem](http://nerdgem.com)</td>
    </tr>
    <tr>
      <td><a> <%= markdown "~~~.ruby\ndef code\n puts 'Nerdgem'\nend \n~~~" %></a></td>
      <td> ~~~.ruby<br />def code<br /> &nbsp; puts 'Nerdgem'<br />end<br />~~~</td>
    </tr>
  </table>
  <p class='right small'>For an advanced guide <%= link_to "Click here", "http://en.wikipedia.org/wiki/Markdown", :target => 'blank'%></p>
<div class='clear'></div>
</div>
</div>
</div>
<div class='small right'>Please use <a id="inline" href="#data">markdown syntax</a></div>
