<% title "Latest tutorials" %>
<div  id="tutorial_wrapper">
  <% @tutorials.each do |tutorial|%>
    <div id="tutorial">
      <h2><%= link_to tutorial.title, tutorial%></h2>
      <p>
        <% tutorial.ruby_gems.each do |ruby_gem|%>
          <li><%= ruby_gem.name %></li>
        <% end %>
      </p>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

