<% title "Latest tutorials" %>
<div  id="tutorial_wrapper">
  <% @tutorials.each do |tutorial|%>
    <div id="tutorial">
      <h2><%= link_to tutorial.title, tutorial%></h2>
      <p><%=h RedCloth.new(tutorial.formated_body).to_html %></p>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

