<%= render 'layouts/side' %>

<div class='span12 pull-left'>

  <div class='hero-unit' id='billboard'>
    <h2> Welcome home,</h2>
    <h1> This is Nerdgem</h1>
    <ul>
      <li><h4 class='blue'>Share your Ruby wisdom.</h4></li>
      <li><h4 class='blue'>Find social Ruby knowledge and more.</h4></li>
    </ul>
  </div>

  <div class='action'>

    <% if current_user%>
      <%= link_to 'Share your knowledge!',new_tutorial_path, class: 'btn huge info'%>
    <% else %>
      <%= link_to 'Register Now!', 'auth/github', class: 'btn huge info '%>
    <% end%>
  </div>
  <div class='clear'></div>

  <h2>
    Recent Tutorials
  </h2>
  <%= render :partial => 'tutorials', :locals =>{ :tutorials => @tutorials} %>
</div>

