.hero-unit
  %h1{:style=>"margin-bottom:20px;"} Nerdgem
  %p Is an open source community portal to find and share ruby knowledge.
  %h2 Contribute
  %ul
    %li= link_to 'Github', 'http://github.com/rogeliog/nerdgem', :target => 'blank'
    %li= link_to 'Pivotal tracker', 'http://github.com/rogeliog/nerdgem', :target => 'blank'
