@mixin rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin shadow($x, $y, $s, $color) {
  -webkit-box-shadow: $x $y $s $color;
  box-shadow: $x $y $s $color;
  -moz-box-shadow: $x $y $s $color;
} 

@mixin linear_gradient($c1, $p1, $c2, $p2){
  background: linear-gradient(bottom, $c1 $p1,$c2 $p2);
  background: -o-linear-gradient(bottom, $c1 $p1,$c2 $p2);
  background: -moz-linear-gradient(bottom, $c1 $p1,$c2 $p2);
  background: -webkit-linear-gradient(bottom, $c1 $p1,$c2 $p2);
  background: -ms-linear-gradient(bottom, $c1 $p1,$c2 $p2);
}
@mixin linear_gradient_3($c1, $p1, $c2, $p2, $c3, $p3){
  background: linear-gradient(bottom, $c1 $p1,$c2 $p2,$c3 $p3);
  background: -o-linear-gradient(bottom, $c1 $p1,$c2 $p2,$c3 $p3);
  background: -moz-linear-gradient(bottom, $c1 $p1,$c2 $p2,$c3 $p3);
  background: -webkit-linear-gradient(bottom, $c1 $p1,$c2 $p2,$c3 $p3);
  background: -ms-linear-gradient(bottom, $c1 $p1,$c2 $p2,$c3 $p3);
}



* {
  margin: 0;
}
html, body {
  height: 100%;
}

a{ 
  color:#049CDB;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  margin-bottom:-30px;
}

#footer, #push {
  height:30px;
}
#footer{
  width:100%;
  text-align:center;
  padding: 10px 0;
  padding-bottom:20px;
  background: #222;
}

#content{
  margin-top:25px;
}

#billboard{
  background: url('bg_hero.png');
}
#points{
  width:70px;
  padding:5px;
  position:absolute;
  right:20px;
  background:#fff;
  color:#666;
  @include rounded(5px);
  @include shadow(1px, 2px, 2px, #CCC);
  text-align:center;
  p{
    font-size:30px;
    line-height:20px;
  }
}

#side{
  @include shadow(0px, 1px, 2px, #999);
  @include rounded(5px);
  h3{padding:3px 10px;}
  ul{
    list-style:none;
    padding:0;
    margin:0;
  }
  p{
    font-size:10px;
    color:#333;
    @include rounded(5px);
    margin: 2px 0 2px 0;
    padding:4px;
  }
  li{
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    a{text-decoration:none}
    &:hover{
      background:#efefef;
    }
    padding:10px;
  }
  min-height:400px;
}

#title{
  h1{
    position:relative;
    bottom:25px;
    background:#049CDB; 
    display:inline-block;
    padding:7px 15px;
    color:#ffffff;
    text-shadow:#666 1px 1px;

    @include rounded(5px);
  }
}

#tutorial_wrapper{
  .tutorial{
    padding:10px;
    &:hover{
      background:#ebf5ff;
    }
  }
}
#tutorial{
  .extra_info{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    margin:50px 0 15px 0;
    padding:10px;
  }
}

.no_decoration{
  text-decoration:none;
}
.white{
  color:#fff!important;
}
.center_text{
  text-align:center;
}

.general_info{
  position:relative;
  .main{
    position:relative;
    z-index:2;
    color:#FFF;
    h1 a, h1{ 
      color:#fff; text-shadow:#333 0px 1px 0;
      &:hover{ text-decoration:none; }
    }
    padding:12px;
    @include rounded(5px);
    @include linear_gradient_3(darken(#cfcfcf, 2%), 0%,#cfcfcf, 18%,darken(#cfcfcf, 2%),98%);
    &:hover{
      @include linear_gradient_3(darken(#bfbfbf, 2%), 0%,#bfbfbf, 18%,darken(#bfbfbf, 2%),98%);
    }
    @include shadow(0px, 1px, 1px, #888);
  }
  .right_tags{
    right:10px;
    z-index:1;
    float:right;
    .tag{
      background:#049CDB!important;
    }
  }
  .left_tags{
    left:10px;
  }
  .tags{
    position:relative;
    top:-1px;
    .tag{
      display:inline-block;
      margin-bottom:10px;
      background:#f90;
      a{color:#fff;}
      font-size:11px;
      padding:3px;
      margin-right:5px;
      @include shadow(1px, 2px, 2px, #999);
      @include rounded(2px);
    }
  }
}
.general_info_alt{
  position:relative;
  margin-bottom:25px;
  margin-top:35px;
  background:darken(#FFF, 7%);
  padding:15px 20px;
  border:1px solid #ddd;
  h1{
    display:inline-block;
    padding:5px 10px;
    color:#fff;
    @include rounded(5px);
    @include shadow(0px, 1px, 2px, #666);
    position:absolute;
    top:-14px;
    background:#049CDB;
    a{
      color:#fff;
    }
    img{
      position:relative;
      top:3px;
    }
  }
  @include rounded(5px);
}

#tutorial_form{
  width: 420px;
  textarea{
    height: 420px;
  }
  border-right: 1px solid #DDD;
}

.blue {
  color: #049cdb;
  border-bottom-color: #049cdb;
}
.action{
  margin-top:-20px;
  margin-bottom:30px;
  .btn.huge {
    font-size: 20px;
    line-height: normal;
    padding: 15px 119px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display:block;
    text-align:center;
  }
}
#preview{
  width:500px;
  float:right;
  #tutorial_preview{overflow-x:auto;overflow-y:scroll; max-height:574px;}
  .highlight{ overflow:auto; }
}

#formatting_guide{
  margin:15px 25px;
}
#formatting_guide table {
  h1{ font-size: 130%; }
  h2{ font-size: 100%; }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

