@mixin rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin shadow($x, $y, $s, $color) {
  -webkit-box-shadow: $x $y $s $color;
  box-shadow: $x $y $s $color;
  -moz-box-shadow: $x $y $s $color;
} 

@mixin linear_gradient($c1, $p1, $c2, $p2){
background: linear-gradient(bottom, $c1 $p1,$c2 $p2);
background: -o-linear-gradient(bottom, $c1 $p1,$c2 $p2);
background: -moz-linear-gradient(bottom, $c1 $p1,$c2 $p2);
background: -webkit-linear-gradient(bottom, $c1 $p1,$c2 $p2);
background: -ms-linear-gradient(bottom, $c1 $p1,$c2 $p2);
}
@mixin linear_gradient_3($c1, $p1, $c2, $p2, $c3, $p3){
background: linear-gradient(bottom, $c1 $p1,$c2 $p2,$c3 $p3);
background: -o-linear-gradient(bottom, $c1 $p1,$c2 $p2,$c3 $p3);
background: -moz-linear-gradient(bottom, $c1 $p1,$c2 $p2,$c3 $p3);
background: -webkit-linear-gradient(bottom, $c1 $p1,$c2 $p2,$c3 $p3);
background: -ms-linear-gradient(bottom, $c1 $p1,$c2 $p2,$c3 $p3);
}


a{color:#049CDB;}
#content{
  margin-top:25px;
}
#billboard{
  background: url('bg_hero.png');
}
#title{
  h1{
    position:relative;
    bottom:25px;
    background:#049CDB; 
    display:inline-block;
    padding:7px 15px;
    color:#ffffff;
    text-shadow:#666 1px 1px;

    @include rounded(5px);
  }
}

#tutorial_wrapper{
  .tutorial{
  padding:10px;
    &:hover{
      background:#ebf5ff;
    }
  }
}
#tutorial{
  .extra_info{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    margin:50px 0 15px 0;
    padding:10px;
  }
}

.no_decoration{
  text-decoration:none;
}
.white{
  color:#fff!important;
}
.center_text{
  text-align:center;
}

.general_info{
  position:relative;
  .main{
    position:relative;
    z-index:2;
    color:#FFF;
    h1 a, h1{ 
      color:#fff; text-shadow:#333 0px 1px 0;
      &:hover{ text-decoration:none; }
    }
    padding:12px;
    @include rounded(5px);
    @include linear_gradient_3(darken(#cfcfcf, 2%), 0%,#cfcfcf, 18%,darken(#cfcfcf, 2%),98%);
    &:hover{
      @include linear_gradient_3(darken(#bfbfbf, 2%), 0%,#bfbfbf, 18%,darken(#bfbfbf, 2%),98%);
    }
    @include shadow(0px, 1px, 1px, #888);
  }
  .right_tags{
    right:10px;
    z-index:1;
    float:right;
    .tag{
      background:#049CDB!important;
    }
  }
  .left_tags{
    left:10px;
  }
  .tags{
    position:relative;
    top:-1px;
    .tag{
      display:inline-block;
      margin-bottom:10px;
      background:#f90;
      a{color:#fff;}
      font-size:11px;
      padding:3px;
      margin-right:5px;
      @include shadow(1px, 2px, 2px, #999);
      @include rounded(2px);
    }
  }
}
.general_info_alt{
  position:relative;
  margin-bottom:25px;
  margin-top:35px;
  background:darken(#FFF, 7%);
  padding:15px 20px;
  border:1px solid #ddd;
  h1{
    display:inline-block;
    padding:5px 10px;
    color:#fff;
    @include rounded(5px);
    @include shadow(0px, 1px, 2px, #666);
    position:absolute;
    top:-14px;
    background:#049CDB;
    a{
      color:#fff;
    }
    img{
      position:relative;
      top:3px;
    }
  }
  @include rounded(5px);
}

#side{
  @include shadow(0px, 1px, 2px, #999);
  @include rounded(5px);
  h3{padding:3px 10px;}
  ul{
    list-style:none;
    padding:0;
    margin:0;
  }
  p{
    font-size:10px;
    color:#333;
    @include rounded(5px);
    margin: 2px 0 2px 0;
    padding:4px;
  }
  li{
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    a{text-decoration:none}
    &:hover{
      background:#efefef;
    }
    padding:10px;
  }
  min-height:400px;
}

#tutorial_form{
width: 420px;
border-right: 1px solid #DDD;
}

.blue {
  color: #049cdb;
  border-bottom-color: #049cdb;
}
.action{
  margin-top:-20px;
  margin-bottom:30px;
  .btn.huge {
    font-size: 20px;
    line-height: normal;
    padding: 15px 119px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display:block;
    text-align:center;
  }
}
#preview{
  width:500px;
  float:right;
  #tutorial_preview{overflow-x:auto;overflow-y:scroll; max-height:400px;}
  .highlight{ overflow:auto; }
}

#formatting_guide{
  margin:15px 25px;
}
#formatting_guide table {
  h1{ font-size: 130%; }
  h2{ font-size: 100%; }
}




// body {
//   font-family: Verdana, Helvetica, Arial;
//   font-size: 14px;
// }
// #fork{
//   position:fixed;
//   z-index:5;
//   top:0;
//   right:0;
// }

// a img {
//   border: none;
// }

// a {
//   color: #0000FF;
// }

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

// #container {
//   width:1000px;
//   position:relative;
//   margin: 0 auto;
//   background-color: #FFF;
//   margin-top: 0px;
//   @include rounded(5px);
// }

// #header{
//   .logo{
//     font-size:35px;
//     color:#333;
//     text-decoration:none;
//   }

//   margin-bottom:20px;
//   h1 { 
//     position:absolute;
//     top:6px;
//     font-size:1.3em;
//     left:170px;
//     font-family:sans-serif;
//     font-weight:normal;
//     color:#999;
//   }
// }

// #session_links{
//   margin-top:22px;
//   a{
//     color:#666;
//     margin-left:25px;
//     text-transform: uppercase; 
//     text-decoration:none;
//     &:hover{text-decoration:underline;}
    
//   }

// }
// #navigation{
//   margin-top:5px;
//   float: right;
//   width: 100%;
//   background:#444;
//   #search{
//     input{
//       width:200px;
//       margin: 4px 6px 0 0;
//     }
//     color:#fff;
//     float:right;
//   }
//   ul{
//     margin: 0;
//     padding: 0;
//     li{
//       list-style-type: none;
//       display: inline;
//     }
//   }
//   li a{
//     display: block;
//     float: left;
//     padding: 5px 10px;
//     color: #fff;
//     text-decoration: none;
//     border-right: 1px solid #fff;
//     &.current, &:hover{
//       background: #f60;
//     }
//   }
// }
// .user_link a{
//   color:#666;

// }
// #content {
//   min-height:500px;
//   padding: 20px 40px;
// }

// #tutorial_wrapper{
//   border-top:1px solid #666;
//   border-left:1px solid #666;
//   border-right:1px solid #666;
//   .tutorial{
//     padding:10px;
//     font-weight:bold;
//     height:50px;
//     border-bottom: 1px solid #333;
//     &:hover{
//       background:#ebf5ff;
//     }
//   }
// }
// .live{ color:darken(#f60, 10%); }

// .tutorial{
//   .odd{
//     background:#eee;
//   }
//   .tutorial.even{
//     background:#FFF;
//   }
// }

// #gem{
//   position:relative;
//   h1{
//     color:#333;
//   }
//   #authors{
//     position:absolute;
//     top:10px;
//     right:10px;
//   }
//   ul{
//     float:right;
//     list-style: none;
//     li{ display:inline; }
//   }
//   padding:10px 20px;
//   margin:10px;
//   margin-bottom:30px;
//   @include shadow(0px, 4px, 5px, #666);
//   background:#efefef;
// }
// .gem_tag{
//   background:#f60;
//   background: -moz-linear-gradient(top, #e50 0%, #f60 20%, #e50 50%);
//   background: -webkit-linear-gradient(top, #e50 0%, #f60 20%, #e50 50%);
//   border-radius:4px;
//   border:1px solid #c30;
//   -moz-border-radius:4px;
//   -webkit-border-radius:4px;
//   margin:3px;
//   padding:5px 10px;
//   font-size:12px;
//   a {
//     color:#fff;
//     text-decoration:none;
//   }
// }
// #footer{
//   background: -moz-linear-gradient(top,#FFF 75%,#DDD); 
//   background: -webkit-linear-gradient(top,#FFF 75%,#DDD); 
//   padding:20px;
//   text-align:center;
//   font-weight:bold;
//   @include rounded(5px);
// }

// .no_decoration{
//   text-decoration:none;
// }
// .inline{
//   display:inline;
// }
// .left{
//   float:left;
// }
// .right{
//   float:right;
// }
// .small{
//   font-size:10px;
// }
// /* Github sign in*/
// .sign_in_with_github{
//   position:relative;
//   margin-top:10px;
// }
// .sign_in_with_github a {
//   display:block;
//   text-decoration:none;
//   height: 23px;
//   width: 175px;
//   text-align: right;
//   padding-right: 23px;
//   padding-top:3px;
//   color: #293f46;
//   text-shadow: #fff 1px 1px 2px;
//   border: 2px solid #aaa;
//   background: #aaa -webkit-gradient(linear, left bottom, left top, color-stop(0,  #aaa), color-stop(0.9, #ddd));
//   background: #c1e6ea -moz-linear-gradient( center bottom, rgb(161,200,209) 0%, rgb(211,245,246) 81%);
//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   font: bold 15px "Lucida Grande";
//   &:hover{
//     background: #aaa -webkit-gradient(linear, left bottom, left top, color-stop(0,  #bbb), color-stop(0.9, #fefefe));
//     background: #c1e6ea -moz-linear-gradient( center bottom, rgb(161,200,209) 0%, rgb(211,245,246) 81%);
//   }
// }

// /* Flash notice*/
// #flash_notice, #flash_error, #flash_alert {
//   padding: 5px 8px;
//   margin: 10px 0;
// }

// #flash_notice {
//   background-color: #CFC;
//   border: solid 1px #6C6;
// }

// #flash_error, #flash_alert {
//   background-color: #FCC;
//   border: solid 1px #C66;
// }

// .fieldWithErrors {
//   display: inline;
// }

// .error_messages {
//   width: 400px;
//   border: 2px solid #CF0000;
//   padding: 0px;
//   padding-bottom: 12px;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;
//   font-size: 12px;
// }

// .error_messages h2 {
//   text-align: left;
//   font-weight: bold;
//   padding: 5px 10px;
//   font-size: 12px;
//   margin: 0;
//   background-color: #c00;
//   color: #fff;
// }

// .error_messages p {
//   margin: 8px 10px;
// }

// .error_messages ul {
//   margin: 0;
// }


