
// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#tutorials {

	#tutorial {
		margin-top:20px;
		.highlight{
			overflow:hidden;
		}
	}
	#share{
		float:right;
		margin: -7px 0 0 0;
		
	}
}
